#text1{
    border-radius: 20px;
    padding: 10px;
    padding-right: 2px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
#pwd{
    border-radius: 20px;
    padding: 10px;
    padding-right: 2px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.login{
    height: 2em;
    width: 100%;
    background-color: royalblue;
    padding-right: 10px;
    color: rgba(0,0,0,0.3);
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.form-edit{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 3px  rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.7);
    padding: 50px;
    margin: 8% auto 0;
    text-align: center;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(./Images/KERALAINTRO.jpg);
    background-size: cover;
}
#check{
    color: #fff;
    font-family: sans-serif;
}
