body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(./Images/KERALAINTRO.jpg);
    background-size: cover;
    
}



.Sign-up-form{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 3px  rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.Sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 30px;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    padding-right: 2px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    width: 100%;
    padding-right: 10px;
    color: rgba(0,0,0,0.3);
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}
.Sign-Up-btn{
    background-color: #1c8adb;
}
.gmail-btn{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr{
    width: 80%;
    margin-top: 20px;
}
.or{
    background-color: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img{
    width: 70px;
    margin-top: -50px;
}
    